alabaster==0.7.13
asgiref==3.5.2
Babel==2.11.0
beautifulsoup4==4.11.2
certifi==2022.6.15
charset-normalizer==3.0.1
distlib==0.3.5
Django==4.0.6
django-blog-zinnia==0.20
django-bootstrap-form==3.4
django-classy-tags==3.0.1
django-contrib-comments==2.2.0
django-docs==0.3.3
django-formtools==2.3
django-js-asset==2.0.0
django-mptt==0.13.4
django-object-tools==2.0.0
django-sekizai==3.0.1
django-smart-selects==1.5.9
django-tagging==0.5.0
django-tastypie==0.14.4
django-treebeard==4.5.1
django-xmlrpc==0.1.8
djangocms-admin-style==3.1.1
djangorestframework==3.14.0
docutils==0.17.1
filelock==3.4.2
idna==3.4
imagesize==1.4.1
Jinja2==3.1.2
MarkupSafe==2.1.2
mots-vides==2015.5.11
packaging==23.0
pbr==5.11.1
Pillow==9.4.0
platformdirs==2.6.2
Pygments==2.14.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-mimeparse==1.6.0
pytz==2021.3
regex==2022.10.31
requests==2.28.2
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==4.5.0
sphinx-rtd-theme==1.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
stevedore==4.1.1
urllib3==1.26.14
virtualenv==20.15.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
